* {
    background-color: lavender;
    color: navy;
    list-style: none;
}

ul {
    border: 1px solid navy;
    background-color: lightblue;
    width: 30%;
}

li {
    background-color: lightblue;
}

.faded {
    opacity: 0.3
}